html {
  overflow-x: hidden;
}

body {
  font-size: 1.128vw;
}

a {
  color: #777;
}

a:hover {
  color: #777;
  text-decoration: none;
}

.default li:nth-child(1) a:focus {
  color: #db3851;
  text-decoration: none;
}

.default li:nth-child(2) a:focus {
  color: #f63;
  text-decoration: none;
}

.default li:nth-child(3) a:focus {
  color: #a8529f;
  text-decoration: none;
}

.default li:nth-child(4) a:focus {
  color: #273e42;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: linear-gradient(19deg,#f43184,#ff4260);
  height: 100vh;
  color: white;
  padding-top: 50px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  margin: 0 auto;
  border-radius: 0px;
  font-weight: 600;
  text-transform: uppercase;

}

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}

ul.nav.navbar-nav {
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  float: none;
}

ul.nav.navbar-nav.navbar-right {
  padding-top: 10px;
}

ul.nav.navbar-nav.navbar-right>li>a {
  padding-right: 0px;
}

.jumbo-text {
  padding-top: 4vw;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: 'Baloo Bhaina', cursive;
}

.h2 {
  font-size: 8.6vw;
  line-height: 1em;
  text-transform: uppercase;
}

.h3 {
  font-size: 4.7vw;
  color: white;
}

.h4 {
  font-size: 2.25vw;
}

.header-text {
  font-size: 4.2em;
  color: white;
  font-family: 'Baloo Bhaina', cursive;
}

.navbar-nav>li>a {
  line-height: inherit;
}

.default.nav.navbar-nav>li {
  border-bottom: 4px solid #273e42;
  margin-bottom: 15px;
}

.default.nav.navbar-nav>li:nth-child(1) {
  border-color: #db3851;
}

.default.nav.navbar-nav>li:nth-child(2) {
  border-color: #f63;
}

.default.nav.navbar-nav>li:nth-child(3) {
  border-color: #a8529f;
}

.aboutus-whatWeOffer {
  background-color: #f5f5f5;
}

.aboutus-whatWeDo {
  background-color: #E7E7FB;
  height: 500px;
}

.aboutus-card, .reddit-card {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 10px -4px rgba(0,0,0,.61);
-moz-box-shadow:    1px 1px 10px -4px rgba(0,0,0,.61);
box-shadow:         1px 1px 10px -4px rgba(0,0,0,.61);
}

.aboutus-card-titleText {
  font-size: 54px;
  position: relative;
}

.aboutus-card-titleText:after {
    content: "";
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%);
    width: 55%;
    border-bottom: 2px solid black;
}

.redux-card p.aboutus-card-titleText:nth-child(1):after {
  border-color: #db3851;
}

.flux-card p.aboutus-card-titleText:nth-child(1):after {
  border-color: #a8529f;
}

.native-card p.aboutus-card-titleText:nth-child(1):after {
  border-color: #ff6633;
}

.aboutus-card-contentText {
  padding-top: 20px;
}

.aboutus-list, .video-list {
    display: table;
    margin: 0 auto;
    text-align: left;
}

.aboutus-list>li {
  font-size: 1.33vw;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1.9vw;
  display: list-item;
}

.aboutus-list>li:nth-child(1) {
  padding-top: 20px;
}

.features-spec {
  background-image: linear-gradient(34deg,#f77223,#ff574d),linear-gradient(225deg,#eb3349,#f45c43);
  color: #fff;
  padding-top: 45px;
  height: 41vw;
}

.features-container {

}

.features-info {
  font-size: 1.6vw;
  margin-bottom: 60px;
}

.features-textContent {
  max-width: 200px;
  margin: 0 auto;
  font-weight: 600;
}

.parallax-container {
  padding: 0;
}

.parallax-content {
  float: right;
  color: white;
  padding-right: 5%;
  margin-top: 5%;

}

.asd {
  display: block;
  margin-bottom: 5%;

}

button.btn.btn-lg.btn-primary-video {
  background-image: linear-gradient(34deg,#f77223,#ff574d),linear-gradient(225deg,#eb3349,#f45c43);
  color: white;
  border-color: transparent;
  font-size: 1.45vw;
}

button.btn.btn-lg.btn-primary-video:hover {
  color: white;
}

button.btn.btn-lg.btn-primary-video:focus {
  background-image: linear-gradient(34deg,#f77223,#ff574d),linear-gradient(225deg,#eb3349,#f45c43);
  color: white;
}

.react-parallax {
  height: 50vh;
  min-height: 75vh;
}

.react-parallax-background {
  width: 100vw;
}

.video {
  background-color: #E7E7FB;
  padding-top: 5%;
  padding-bottom: 5%;
}

.video-content h2 {
  color: #273e42;
  margin-bottom: 5px;
}

.video-content p {
  font-size: 1.6vw;
  margin-bottom: 5%;
}

.video-content button {
  float: right;
  margin-top: 6%;
}

.video-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.player {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-list>li {
  margin-left: 15%;
  font-size: 1.42vw;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 2vw;
  display: list-item;
}

.people {
  padding-bottom: 50px;
}

.people h2.h3 {
  color: #273e42;
  position: relative;
}

.people h2.h3:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 15%;
  border-bottom: 2px solid #cccccc;
}

.ready {
  background-image: linear-gradient(19deg,#f43184,#ff4260);
  padding-top: 7%;
  padding-bottom: 7%;
  color: white;
}

.ready h2 {
  display: inline-block;
  font-size: 2.9vw;
  float: left;
}

.h5 {
  font-size: 36px;
}

button.btn.btn-lg.btn-primary-ready {
  background-color: #fff;
  color: rgba(33,33,33,.77);
  border-color: #fff;
  margin-left: 2.2vw;
  font-size: 1.17vw;
  float: left;
  margin-top: 7px;
  border-radius: 5px;
  font-weight: 600;
}

button.btn.btn-lg.btn-primary-ready:hover {
  color: #f43184;
}

button.btn.btn-lg.btn-primary-ready:focus {
  background-color: #fff;
  color: #f43184;
  outline: none;
}

.latest-news {
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
}

.reddit-card a {
  color: inherit;
  text-decoration: inherit;
}

.reddit-card a:hover {
  color: inherit;
  text-decoration: inherit;
}

.latest-news h2 {
  color: #273e42;
  float: left;
  position: relative;
}

.latest-news h2.h3:before {
content: "";
position: absolute;
left: 25%;
bottom: 0;
-webkit-transform: translate(-50%);
-ms-transform: translate(-50%);
transform: translate(-50%);
width: 50%;
border-bottom: 2px solid #f7367a;
}

.reddit-container {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.reddit-circle {
  position: absolute;
  top: 40px;
  left: 50px;
  background-color: #e3198e;
  width: 45px;
  height: 45px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  z-index: 1;
}

.reddit-circle-date {
  display: block;
  height: 40px;
  width: 30px;
  text-align: center;
  margin: 0 auto;
  padding-top: 5px;
  color: #fff;
  line-height: 16px;
}

/*
.reddit-rectangle {
  text-align: center;
  position: absolute;
  right: 25px;
  top: 30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 55px 50px 0;
  border-color: transparent #e3198e transparent transparent;
}

span.fa.fa-comment-o.fa-2x {
  position: absolute;
  right: -55px;
  top: -3px;
  color: #fff;
}

.comments-counter {
  width: 20px;
  text-align: center;
  right: -51px;
  position: absolute;
  top: 3px;
  font-family: "Times New Roman", Times, serif;
  font-weight:600;
  color: #fff;
  font-size: 12px;
}
*/

.reddit-container:hover {
  top: -10px;
}

.reddit-container .reddit-card {
  margin-top: 30px;
  height: 25.5vw;
}

.reddit-image-preview {
  margin:0 auto;
  min-height: 300px;
  max-height: 400px;
}

.reddit-heading {
  color: #212121;
  font-size: 1.3vw;
  line-height: 1.6vw;
}

.reddit-heading-preview {
  position: absolute;
  bottom: 45px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 6px;
  padding-top: 9px;
  background-color: rgba(56,49,55,.91);
  font-size: 50px;
  text-align: left;
  font-weight: 700;
  color: #fff;
  margin-left: 10px;
  margin-right: 50px;
  margin-top: 9px;
}

.reddit-image {
  position: relative;
  height: 164px;
  width: 218px;
  margin: 0 auto;
  border-radius: 4px;
}

.reddit-author-preview {
  position: absolute;
  padding: 6px 13px;
  background-color: #3498db;
  left: 10px;
  bottom: 0;
  font-size: 1.5em;
  line-height: 40px;
  color: #fff;
}

.reddit-author {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 6px 13px;
  background-color: #e3198e;
  font-weight: 600;
  color: #fff;
}

.reddit-image-container {
    position: relative;
    z-index:0;
    height: 164px;
    width: 218px;
    margin: 0 auto;
}

.reddit-image-container-preview {
  position: relative;
}

.reddit-content, .reddit-content-preview {
  position: relative;
}

.current-time {
  float: right;
  font-family: "Times New Roman", Times, serif;
}

.author-name {
  float: left;
  text-decoration: underline;
}

.author-name-image {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 5px;
  margin-left: 15px;
}

.hashtag-reddit {
  font-weight:600;
  margin-top: 5px;
  display: inline-block;
}

.hashtag-reddit:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 35px;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  width: 50%;
  border-bottom: 2px solid #f7367a;
}

.reddit-content-preview span.hashtag-reddit:after{
  width:150%;
}

.opinions {
  background-color: #E7E7FB;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.opinions-text {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
  padding-bottom: 3px;
  color: #333;
  line-height: 30px;
  text-align: left;
}

blockquote>footer {
  float: left;
  margin-top: -10px;
}

.slick-dots {
  padding-top: 15vh;
}

.form {
  width: 80%;
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
}

.contact-textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all .3s;
  border-bottom: 2px solid #bebed2

}

.contact-error {
  height: 40px;
  line-height: 8px;
  font-size: 12px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all .3s;
  border-bottom: 2px solid #bebed2
}

input:focus, textarea:focus {
  border-bottom: 2px solid #78788c
}

.contact-paragraph p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a
}

.contact-button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all .3s
}

.contact-button:hover {
  background: #78788c;
  color: #fff
}

.contact-heading {
  position: relative;
  padding-bottom: 30px;
}

.contact-heading:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  width: 10%;
  border-bottom: 2px solid #f7367a;
}

.contact-direct {
  text-align: left;
  display: block;
  font-size: 17px;
  line-height: 30px;
  padding-bottom: 20px;
}

.contact-direct-text {
  display: block;
  text-align: left;
}

span.contact-direct-text:nth-child(3) {
  color: #f63;
}

figure.people-card {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  background: #ffffff;
  color: #000000;
  box-shadow: 3px 6px 20px -5px rgba(0,0,0,.61);
}

figure.people-card > img {
  margin-top: 30px;
  width: 50%;
  border-radius: 50%;
  border: 4px solid #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1.6);
  transform: scale(1.2);
  position: relative;
  left: -40%;
  z-index: 1;
}

figure.people-card figcaption {
  padding: 20px 30px 20px 20px;
  position: absolute;
  right: 0;
  width: 50%;
}

figure.people-card figcaption h3,
figure.people-card figcaption p {
  margin: 0;
  text-align: right;
  padding: 10px 0;
  width: 100%;
}

figure.people-card figcaption h3 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

figure.people-card figcaption h3 span {
  font-weight: 800;
}

figure.people-card figcaption p {
  font-size: 0.9em;
  opacity: 0.8;
}

figure.people-card figcaption .icons {
  width: 100%;
  text-align: right;
}

figure.people-card figcaption .icons i {
  font-size: 26px;
  padding: 5px;
  top: 50%;
  color: #000000;
}

figure.people-card figcaption a {
  opacity: 0.3;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.people-card figcaption a:hover {
  opacity: 0.8;
}

figure.people-card .position {
  width: 100%;
  text-align: right;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-style: italic;
  color: #ffffff;
  background: #000000;
}

figure.people-card.blue .position {
  background: #20638f;
}

figure.people-card.red .position {
  background: #962d22;
}

figure.people-card.yellow .position {
  background: #bf6516;
}

figure.people-card.green .position {
  background: #1e8449;
}

figure.people-card:hover > img,
figure.people-card.hover > img {
  left: -36%;
}

.last-word {
  color: blue;
}

p.position-icons {
  display: inline-block;
  padding-right: 8px;
}

p.position-icons-left {
  display: inline-block;
  float: left;
  padding-left: 8px;
}

h2 span {
    color: #f90;
}

p.position-icons-left:nth-child(1) {
  padding-left: 23%;
}


.footer {
  background-color: #a8529f;
  height: 200px;
}

.underline-hero {
  position: relative;
  text-align: center;
}

.underline-hero::after {
  content: "";
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 25%;
    border-bottom: 4px solid #ffeb00;
}

.date {
  width: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .8);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
  background-color: #ddd;
  background-image: linear-gradient(to bottom, #ddd, #ccc);
  background-image: -o-linear-gradient(to bottom, #ddd, #ccc);
  background-image: -ms-linear-gradient(to bottom, #ddd, #ccc);
  background-image: -moz-linear-gradient(to bottom, #ddd, #ccc);
  background-image: -webkit-linear-gradient(to bottom, #ddd, #ccc);
  border-radius: 5px;
  color: #404040;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 4px;
  position: absolute;
  top: 50px;
  right: 35px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}
.date::before {
  background-color: #a30000;
  background-image: linear-gradient(19deg,#f43184,#ff4260);
  background-image: -o-linear-gradient(19deg,#f43184,#ff4260);
  background-image: -ms-linear-gradient(19deg,#f43184,#ff4260);
  background-image: -moz-linear-gradient(19deg,#f43184,#ff4260);
  background-image: -webkit-linear-gradient(19deg,#f43184,#ff4260);
  border-radius: 3px 3px 0 0;
  color: #fff;
  content: attr(data-month);
  display: block;
  font-size: 9px;
  font-weight: normal;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  top: 0;
}
.date::after {
  background-color: #333;
  background-image: linear-gradient(to bottom, #333, #222);
  background-image: -o-linear-gradient(to bottom, #333, #222);
  background-image: -ms-linear-gradient(to bottom, #333, #222);
  background-image: -moz-linear-gradient(to bottom, #333, #222);
  background-image: -webkit-linear-gradient(to bottom, #333, #222);
  border-radius: 0 0 3px 3px;
  bottom: 0;
  color: #ccc;
  content: attr(data-year);
  display: block;
  font-size: 9px;
  font-weight: normal;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}

.reddit-container-preview span.date {
  right: 60px;
  top: 80px;
  width: 50px;
  font-size: 26px;
  padding: 14px 8px;
}

.reddit-container-preview span.date:after {
  font-size: 12px;
}

.reddit-container-preview span.date:before {
  font-size: 12px;
}

.reddit-container-preview .comment-icon {
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
}

.reddit-container-preview .score-container {
  margin-top: 25px;
}

.reddit-container-preview .comment-label {
  font-size: 75%;
}

.comment-container {
  float: left;
  margin-left: 15px;
  position: absolute;
  margin-top: 10px;
  top: 50px;
  left: 17px;
}

.score-container {
  float: left;
  margin-left: 15px;
  position: absolute;
  margin-top: 10px;
  top: 110px;
  left: 17px;
}



.comment-icon {
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  font-family: Arial;
  background-color: #A2CAA6;
  border-radius: 50% 50% 0 50%;
  box-shadow: 1px 1px 5px rgba(0,0,0,.4);
  font-size: 1em;
  color: #ecf0f1;
  font-weight: 900;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.comment-label {
  width: 75px;
  text-align: center;
  padding-top: 10px;
  color: #333;
  display: inline;
  font-size: 60%;
  font-weight: 700;
  line-height: 1;
  margin-left: -3px;
}

.score-container>.comment-label {
  margin-left: 3px;
}

.reddit-content-preview .hashtag-reddit {
  position: absolute;
  left: 46%;
}

.brand-logo-heading {
  margin: 0;
}

.reddit-container-preview .reddit-card {
  padding-bottom: 50px;
}

.aboutus-active, .aboutus-active:hover {
	color: #db3851;
}

.features-active, .features-active:hover {
  color: #f63;
}

.devs-active, .devs-active:hover {
  color: #a8529f;
}

.blog-active, .blog-active:hover {
  color: #273e42;
}

.nav-bar-underline {
  position: absolute;
  top: 0;
  left: 49vw;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  transition: left .3s;
}

@media only screen and (max-width: 1200px) {
  body {
    font-size: 14px;
  }

  .h2 {
    font-size: 6.7em;
  }

  .h3 {
    font-size: 4.2em;
  }

  .h4 {
    font-size: 2em;
  }

  .aboutus-list>li {
    font-size: 17px;
    line-height: 24px;
  }

  .features-info {
    font-size: 20px;
  }

  .features-spec {
    height: 500px;
    padding-bottom: 0;
  }

  button.btn.btn-lg.btn-primary-video {
    float: none;
    margin-bottom: 30px;
    font-size: 18px;
  }

  .video-content p {
    font-size: 20px;
  }

  .video-list>li {
    font-size: 17px;
    line-height: 24px;
  }

  .ready h2 {
    font-size: 36px;
  }

  .reddit-heading {
    font-size: 1.3em;
    line-height: 21px;
  }

  .reddit-container .reddit-card {
    height: 350px;
  }

  figure.people-card figcaption {
    width: 60%;
  }

  figure.people-card .position {
    padding: 15px 15px;
  }

  button.btn.btn-lg.btn-primary-ready {
    margin-left: 30px;
    font-size: 16px;
  }

  p.position-icons-left:nth-child(1) {
    padding-left: 20%;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .reddit-card {
    margin-right: 0;
  }

  .reddit-image-container, .reddit-image {
    width: 184.33px;
  }

  .reddit-container .comment-container {
    left: 14px;
  }

  .reddit-container .score-container {
    left: 14px;
  }

  .reddit-container .date {
    right: 27px;
  }

}

@media only screen and (max-width: 991px) {
  .form {
    width: 100%;
  }

  .video-wrapper {
    padding-top: 50.25% /* Player ratio: 100 / (1280 / 720) */;
    margin-left: 80px;
  }

  .reddit-heading-preview {
    font-size: 31px;
    margin-right: 0;
  }

  figure.people-card figcaption {
    width: 50%;
  }

  figure.people-card .position {
    padding: 15px 30px;
  }

}

@media only screen and (max-width: 767px) {

  ul.nav.navbar-nav.navbar-right {
    padding-top: 10px;
    position: absolute;
    left: 35px;
  }

  .react-parallax .img-responsive {
    max-width: none;
  }

  .reddit-image-container-preview .img-responsive {
    max-width: 100%;
  }

  .header-text {
    font-size: 3em;
  }

  .aboutus-card {
    max-width: 360px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .App-logo {
    height: 50px;
  }

  figure.people-card {
    width: 70%;
    float: none;
    display: inline-block;
  }

  .h3 {
    margin: 0;
  }

  .features-spec {
    padding-top: 25px;
  }

  .features-content {
    margin-bottom: 30px;
  }

  .features-info {
    margin-bottom: 30px;
  }

  .parallax-content {
    margin-top: 50px;
  }

  .ready h2 {
    float: none;
    display: inherit;
  }

  button.btn.btn-lg.btn-primary-ready {
    margin: 0 auto;
    float: none;
  }

}

@media only screen and (max-width: 550px) {

  .h2 {
    font-size: 5.7em;
  }

  .h3 {
    font-size: 3.2em;
  }

  .header-text {
    font-size: 2em;
  }

  .video-wrapper {
    margin-left: 40px;
  }

  .video-list>li {
    margin: 0 auto;
  }

  .parallax-content {
    margin-top: 30px;
  }

  .reddit-heading-preview {
    font-size: 25px;
  }

}

@media only screen and (max-width: 480px) {
  .h2 {
    font-size: 3.9em;
  }

  .jumbo-text {
    padding-top: 80px;
  }

  .header-text {
    font-size: 2em;
  }

  .features-content {
    width: 100%;
  }

  .features-spec {
    height: auto;
  }

  .react-parallax-background-children {
    left: 25% !important;
  }

  figure.people-card {
    width: 100%;
  }

  figure.people-card figcaption {
    padding: 0px 20px 0px 20px;
    position: absolute;
    right: 0;
    width: 66.5%;
  }

  figure.people-card .position {
    padding: 15px 10px;
    font-size: 0.87em;
  }

}
